.modal {
    position: absolute;
    border-radius: 3px;
    overflow: hidden;
    height: 500px;
    background-color: var(--color-main);
    z-index: 1000;
    top: 35%;
    left: 50%;
    transform: translate(-50%);
    width: 400px;
    display: flex;
    flex-direction: column;
    &.small {
        height: 200px;
        top: 10%;
        @media (max-width: 768px) {
            left: 25%;
        }
        @media (max-width: 450px) {
            top: 200px;
            max-width: 300px;
            left: 50%;
            transform: translate(-50%);
        }
    }
    &.middle {
        height: 500px;
    }
    &.big {
        height: 600px;
        width: 600px;
        top: 400px;
        overflow: auto;
        @media (max-width: 768px) {
            height: 500px;
            left: 50%;
            transform: translate(-50%);
        }

        @media (max-width: 320px) {
            height: 500px;
            width: 300px;
            left: 50%;
            transform: translate(-50%);
        }
    }
    &_overlay {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
}