.home-page {
    position: relative;
    &__user {
        display: flex;
        flex: 0 0 350px;
        flex-direction: column;
        border-radius: 3px;

        &-view {
            display: flex;
            align-items: center;

        }
        
        &-actions {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            button {
                margin-left: 20px;
                &:first-child {
                    margin-left: 0;
                }
            }
            .actions {
                display: flex;
                button {
                    font-size: 8px;
                    @media(min-width: 1025px) {
                        font-size: 20px;
                    }
                    @media(min-width: 1025px) {
                        font-size: 20px;
                    }
                }
            }
        }
    }

}