.post_item {
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--color-bg);
    border-radius: 3px;
    position: relative;
    background-color: var(--color-main);
    color: var(--color-main-text);
    &:last-child {
        margin-bottom: 0;
        border-bottom: none;
        padding: 20px 20px 20px 20px;
    }
    &-img {
        overflow: hidden;
        width: 600px;
        margin: 0 auto;
        img {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    &-text {
        font-size: 18px;
    }
    &-utils {
        display: flex;
        align-items: center;
        padding-top: 20px;
        margin-bottom: 30px;
    }
    &-likes, &-comments {
        margin-right: 30px;
        .fa-heart {
            position: relative;
            &:hover {
                color: var(--color-main-text);
                .likes-view {
                    display: flex;
                }
            }
        }
        .fas {
            font-size: 30px;
            color: var(--color-icon-special);
            transition: 0.2s color;
            cursor: pointer;
           
        }

        display: flex;
        align-items: center;
        span {
            margin-left: 14px;
        }
    }
    &-author {
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--color-line);
        padding-bottom: 12px;
        margin-bottom: 20px;
        &_data {
            margin-left: 20px;
        }
    
        &_date {
            color: var(--color-icon);
            font-size: 14px;
        }
    }

    &-delete {
        margin-left: auto;
        .fas {
            font-size: 30px;
            color: var(--color-icon-special);
            &:hover {
                color: var(--color-danger);
                transition: 0.2s color;
                cursor: pointer;
            }
        }
        
    }
}