.user-info {
    position: relative;
    color: var(--color-main-text);
    &__about {
        margin: 10px 0px;
    }
    &__utils {
        &-heading {
            margin: 0;
            margin-bottom: 10px;
            font-size: 55px;
            color: var(--color-support-text);
            @media(max-width: 460px) {
                font-size: 20px;
            }
            span {
                font-size: 14px;
                color: var(--color-main-text);
                font-style: italic;
                margin-left: 5px;
                border-radius: 3px;
                padding: 4px;
                background-color: var(--primary-two);
                cursor: pointer;
            }
        }
    }
    &__list {
        list-style-type: none;
        padding: 0;
        margin-left: 20px;
        margin: 0;
    }

    &__item {
        font-size: 19px;
        color: var(--color-icon);
        font-size: 15px;
        span {
            margin-left: 10px;
            color: var(--color-main-text);
        }
        &:last-child {
            border-top: 1px solid var(--color-line);
            margin-top: 10px;
            padding-top: 10px;
        }

    }
}