.post-create {
    border-radius: 3px;
    position: relative;
    &__form {
        display: flex;
        justify-content: space-around;
        align-items: center;
        textarea {
            width: 400px;
            @media(max-width: 320px) {
                width: 200px;
            }
            @media(max-width: 768px) {
                width: 300px;
            }
            @media(max-width: 1024px) {
                width: 200px;
            }

            @media(max-width: 1025px) {
                width: 300px;
            }
        }
        input {
            opacity: 0;
        }
       
        @media(max-width: 500px) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            textarea {
                width: 250px;
                margin-bottom: 20px;
            }
        }
    }

    &__addition {
        position: relative;
        display: flex;
        align-items: center;
        z-index: 10;
        .fas {
            font-size: 30px;
            color: var(--color-icon);
            cursor: pointer;
            margin-left: 15px;
            position: relative;
            @media(max-width: 500px) {
                margin-bottom: 20px;
            }
        }
        .picker {
            position: absolute;
            top: 60px;
            right: 0;
        }
    }
}

.post_preview {
    margin-top: 15px;
    border-radius: 3px;
    margin-left: 15px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    img {
        width: 200px;
    }
    &-delete {
        position: absolute;
        top: 10px;
        right: 10px;
        color: var(--color-active);
        cursor: pointer;
        padding: 3px;
        background-color: var(--color-swapi);
        border-radius: 3px;
    }
}