.comment_item {
    border-radius: 3px;
    padding: 0 40px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    @media (max-width: 1023px) {
        padding: 0;
    }
    &:last-child {
        margin-bottom: 0px;
        border-bottom: none;
    }
    &-delete {
        color: var(--color-icon-special);
        cursor: pointer;
        margin-left: auto;
    }
    &-user {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }
    &-data {
        display: flex;
    }
    &-date {
        color: var(--color-icon);
        margin-left: 15px;
        @media (max-width: 1023px) {
            display: none;
        }
    }

    &-text {
        word-wrap: break-word;
    }
}