.friends__heading {
    display: flex;
    justify-content: space-between;
    color: var(--color-main-text);
    &-all {
        cursor: pointer;
    }
}

.friends__wrap {
    display: flex;
    justify-content: space-around;
}