.comment-create {
    margin-top: 25px;
    transition: 0.3s all;
    &_form {
        input {
            width: 50%;
            margin-bottom: 20px;
            @media (max-width: 320px) {
                width: 80%;
            }
        }
    
        @media (min-width: 1025px) {
            button {
                display: none;
            }
        }
    }
}