.edit-user-page {
    padding: 20px;
    background-color: var(--color-main);
    color: var(--color-main-text);
    box-shadow: 0px 0px 2px -1px var(--color-shadow);
    &__heading {
        text-align: center;
        font-size: 30px;
    }
};